<a href="https://colab.research.google.com/github/mohsina680/Python-Work-4/blob/main/2nd_day.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!")

Hello World!

**Intro To Basic**

In [ ]:
x=18
print("The value is x: ",x)

The value is x:  18

In [ ]:
x="Mohsin"
print(x)

Mohsin

In [ ]:
x=x+1
print(x)

19

In [ ]:
(type(x))

str

In [ ]:
x =(input("Enter the Value:"))
print(x)

Enter the Value:56
56

In [ ]:
type(x)

str

In [ ]:
First_name = input("Enter the First_Name: ")
Last_name = input("Enter the Last_Name: ")
Age = int(input("Enter your Age: "))


if Age >=18:
  print("eligible for Vote")
else:
 print("Not eligible")
NIC = int(input("Enter your NIC: "))
print("---YOUR DATA---")
print("First_name: ", First_name)
print("Last_name: ", Last_name)
print("Age: ", Age)
print("NIC: ", NIC)

Enter the First_Name: M Mohsin
Enter the Last_Name: Aleem
Enter your Age: 20
eligible for Vote
Enter your NIC: 3510312853963
---YOUR DATA---
First_name:  M Mohsin
Last_name:  Aleem
Age:  20
NIC:  3510312853963

**AGE and Country Name**

In [ ]:
age = int(input("Enter the age :"))
Country_name= input("Enter the Country_Name:")
if age>=18 and Country_name =="Pakistan" :
  print("Eligible for NIC")
else:
  print("NOT Eligible")

Enter the age :15
Enter the Country_Name:Pakistan
NOT Eligible

**Assigining Grades**

In [ ]:
Sub1_marks = int(input("Enter the Marks for Sub1: "))
Sub2_marks =int(input("Enter the Marks of Sub2: "))
Sub3_marks =int(input("Enter the Marks of Sub3: "))

if Sub1_marks >= 85:
  print("grade: A")
elif Sub1_marks >= 75:
  print("grade: B")
elif Sub1_marks >= 65:
  print("grade: C")
else:
  print("Fail")

if Sub2_marks >= 85:
  print("grade: A")
elif Sub2_marks >= 75:
  print("grade: B")
elif Sub2_marks >= 65:
  print("grade: C")
else:
  print("Fail")

if Sub3_marks >= 85:
  print("grade: A")
elif Sub3_marks >= 75:
  print("grade: B")
elif Sub3_marks >= 65:
  print("grade: C")
else:
  print("Fail")

Enter the Marks for Sub1: 75
Enter the Marks of Sub2: 85
Enter the Marks of Sub3: 87
grade: B
grade: A
grade: A

**BMI Calculator**

In [ ]:
height =int(input("Enter the Height in meters: "))
weight = float(input("Enter the weight in kg: "))

BMI = weight/float(height**2)
print(BMI)

if BMI < 18.5:
  print("Under weight")
elif 18.5 <= BMI < 24.9:
  print("Normal weight")
elif BMI >= 25:
  print("Overweight")

Enter the Height in meters: 18
Enter the weight in kg: 55
0.1697530864197531
Under weight

**MY Personal Journey**

In [ ]:
First_name = input("Enter your first_name: ")
Last_name = input("Enter your last_name: ")
Age = int(input("Enter your age: "))
NIC_no = int(input("Enter the NIC_no: "))
Obtained_marks =int(input("Enter your marks: "))

if Obtained_marks <= 1000 :
  if Obtained_marks >= 950 :
    if Obtained_marks >= 900 :
      if Obtained_marks >= 850 :
        if Obtained_marks <= 800 :
          Profession = input("Enter your profession: ")
          print("Profession: ", Profession)
        else:
          print("HR")
      else:
        print("DVM")
    else:
      print("DPT")
  else:
    print("IR")
else:
  print("Freelancer")


print("----Your Details----")
print("First_name:", First_name)
print("Last_name:", Last_name)
print("Your Age:", Age)
print("Your NIC:", NIC_no)
print("Your Profession:" , Profession)

Enter your first_name: Ali
Enter your last_name: ahsaa
Enter your age: 21
Enter the NIC_no: 1213
Enter your marks: 1000
HR
----Your Details----
First_name: Ali
Last_name: ahsaa
Your Age: 21
Your NIC: 1213
Your Profession: Doctor

**Numbers**

In [ ]:
for num in range(20):
  if num%2==0 :
    print("ODD_No:", num)
  elif num%2!=0:
    print("Even_No:", num)

ODD_No: 0
Even_No: 1
ODD_No: 2
Even_No: 3
ODD_No: 4
Even_No: 5
ODD_No: 6
Even_No: 7
ODD_No: 8
Even_No: 9
ODD_No: 10
Even_No: 11
ODD_No: 12
Even_No: 13
ODD_No: 14
Even_No: 15
ODD_No: 16
Even_No: 17
ODD_No: 18
Even_No: 19

**Nested LOOP With IF**

In [ ]:
for num1 in range(1,11):
  for num2 in range()

ZeroDivisionError: integer modulo by zero

**TABLE OF 5**

In [ ]:
num = int(input("Enter the number: "))
for i in range(1, 11):
  print(num,"x", i, "=", i*num)

Enter the number: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

**Print Sterick**

In [ ]:
for i in range(1,10):
   print("*" * i)
for i in range(10,0,-1):
  print("*" * i)
for i in range(1,10):
  print("*" * i)

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*
*
**
***
****
*****
******
*******
********
*********

**Comulative Sum/fact**

In [ ]:
n= int(input("Enter the number: "))
fact = 1
for i in range(1,n+1):
  fact = fact*i
  print(fact)
sum = 0
for i in range(1,n+1):
  sum+=i
  print(sum)

Enter the number: 12
1
2
6
24
120
720
5040
40320
362880
3628800
39916800
479001600
1
3
6
10
15
21
28
36
45
55
66
78

**Task 5**: Multiples of 3 using while loop
**From** 1 to 30, print only numbers divisible by 3

In [ ]:
i = 1
while i <= 30:
 if i % 3 == 0:
     print(i)
 i = i+1

3
6
9
12
15
18
21
24
27
30