<a href="https://colab.research.google.com/github/mohsina680/Python-Work-4/blob/main/4th_day.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LISTS DAY 4**

In [ ]:
colors = ['red', 'blue', 'green']
colors.append('yellow')
print(colors[3])

yellow

In [ ]:
Subject =['Maths', 'Science', 'Urdu', 'Computer']
Subject.append('IST')
print(Subject[3])

Computer

In [ ]:
Subject =['Maths', 'Science', 'Urdu', 'Computer']
Subject.insert(0, 'IST')
print(Subject[0])

IST

In [ ]:
Subject =['Maths', 'Science', 'Urdu', 'Computer']
Subject.remove('Urdu')
print(Subject[2])

Computer

In [ ]:
Subject =['Maths', 'Science', 'Urdu', 'Computer']
Subject.pop(3)
print(Subject[1])

Science

In [ ]:
Subject =['Maths', 'Science', 'Urdu', 'Computer']
Subject.clear()
print(Subject)

[]

In [ ]:
Subject =['Maths', 'Science', 'Urdu', 'Computer']
Subject.sort()
print(Subject)

['Computer', 'Maths', 'Science', 'Urdu']

In [ ]:
Subject =['Maths', 'Science', 'Urdu', 'Computer']
Subject.reverse()
print(Subject)

['Computer', 'Urdu', 'Science', 'Maths']

In [ ]:
Subject =['Maths', 'Science', 'Urdu', 'Computer']
print(Subject.index('Science'))

1

In [ ]:
Subject =['Maths', 'Science', 'Urdu', 'Computer']
print(Subject.count(Subject))

0

In [ ]:
Subject =['Maths', 'Science', 'Urdu', 'Computer']
print(len(Subject))

4

In [ ]:
Subject =['Maths', 'Science', 'Urdu', 'Computer']
print(Subject[0:2])

['Maths', 'Science']

In [ ]:
Subject_Marks=[20, 30, 40, 90]
print(max(Subject_Marks))

90

In [ ]:
Subject_Marks=[20, 30, 40, 90]
print(min(Subject_Marks))

20

In [ ]:
Subject_Marks=[40, 60, 90, 70, 90, 70,90]
print(Subject_Marks.count(90))

3

In [ ]:
Subject_Marks=[40, 60, 90, 70, 90, 70,90]
Subject_Marks.sort()
print(Subject_Marks)

[40, 60, 70, 70, 90, 90, 90]

**Enumerate**

In [ ]:
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits):
  print(index, fruit)

0 apple
1 banana
2 cherry

In [ ]:
fruits =['apple', 'banana', 'cherry', 'govva', 'orange', 'stowbery']
for index, fruit in enumerate(fruits):
  print(index, fruit)

0 apple
1 banana
2 cherry
3 govva
4 orange
5 stowbery

In [ ]:
Correct_Answer = ['Ali', 'Ahsan', 'Farman', 'Abdullah','Hammad']
User_Answer = input('Enter Your Name: ')
for index, (Correct,User) in enumerate(zip(Correct_Answer,User_Answer), start=1):
  if Correct == User:
    print(index, Correct_Answer)
  else:
    print(index, User_Answer)

Enter Your Name: Ahsan
1 Ahsan
2 Ahsan
3 Ahsan
4 Ahsan
5 Ahsan

In [ ]:
Friend_Names = ['Shah', 'Abdullah', 'Ahsan', 'Waqar', 'Hammad']
User5 = ['Ahsan', 'Ali','Waqar','Hammad']
for index, (Friend,User) in enumerate(zip(Friend_Names,User5), start=1):
  if Friend == User:
    print(index, Friend_Names)
  else:
    print(index, User5)

1 ['Ahsan', 'Ali', 'Waqar', 'Hammad']
2 ['Ahsan', 'Ali', 'Waqar', 'Hammad']
3 ['Ahsan', 'Ali', 'Waqar', 'Hammad']
4 ['Ahsan', 'Ali', 'Waqar', 'Hammad']

**Tuples**

In [ ]:
Person = ('Ali','25','Male','Islamabad','Pakistan')
print(Person[0:4])

('Ali', '25', 'Male', 'Islamabad')

In [ ]:
Person = ['Ali','25','Male','Islamabad','Pakistan']
Person[0] = 'Abdullah'
print(tuple(Person))

('Abdullah', '25', 'Male', 'Islamabad', 'Pakistan')

In [ ]:
Person=('Ali','25','Male','Islamabad','Pakistan')
if 'Pakistan' in Person:
  print('Yes Pakistan in the Tuple')
else:
  print('No Pakistan in the Tuple')

Yes Pakistan in the Tuple

**SETS**

In [ ]:
unique_numbers = {1, 2, 2, 3, 4, 4, 5}
unique_numbers.add(6)
print(unique_numbers)

{1, 2, 3, 4, 5, 6}

In [ ]:
Person = {'Ali','25','Male','Islamabad','Pakistan'}
unique_numbers = {1, 2, 2, 3, 4, 4, 5}
Person.update(unique_numbers)
print(Person)
Person.discard('Ali')
print(Person)
Combined =Person.union(unique_numbers)
print(Combined)
Update = Person.intersection(unique_numbers)
print(Update)

{1, '25', 2, 3, 4, 'Male', 5, 'Islamabad', 'Ali', 'Pakistan'}
{1, '25', 2, 3, 4, 'Male', 5, 'Islamabad', 'Pakistan'}
{1, '25', 2, 3, 4, 'Male', 5, 'Islamabad', 'Pakistan'}
{1, 2, 3, 4, 5}